<!DOCTYPE html>
<html>
  <head>
    <title>markdown preview</title>
    <style>
    </style>
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bundle.js"></script>
  </body>
</html>
